@model DrAvail.Models.Hospital

@{
    ViewData["Title"] = "Details";
}

<h4>Details</h4>
<div class="row">
    <div class="col-md-8">
        <div class="card bg-light mb-3">
            <div class="row">
                <div class="col float-left">
                    <img class="img-fluid card-img p-0" style="border-bottom-left-radius:20px;border-top-left-radius:20px;object-fit:cover" src="/Images/user.png" alt="...">
                </div>
                <div class="col float-right">
                    <div class="card-body">
                        @*<div class="col-md-6 float-left">*@
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => Model.Name)
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => Model.Type)</p>

                        <p class="card-text">
                            Verification Status:
                            @if (Model.IsVerified)
                            {
                                <span class="card-text text-success">
                                    @*<i class="fa fa-check-circle" style="color:green"></i>*@
                                    Verified
                                </span>
                            }
                            else
                            {
                                <span class="card-text text-danger">Pending</span>
                            }
                        </p>
                        <p class="card-text">
                            <i class="fa fa-map-marker" aria-hidden="true" style="color:red"></i>
                            @Model.Address, @Model.City,
                            @Model.District (dist) - @Model.Pincode
                        </p>
                        <p class="card-text">
                            @*<text>Contact Preference: </text>*@
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="tel:@Model.PhoneNo">@Model.PhoneNo</a>
                        </p>
                        <p class="card-text">
                            @*<text>Contact Preference: </text>*@
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:@Model.EmailId">@Model.EmailId</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="card float-right w-75">
            <h6 class="card-header">Location &amp; Contact</h6>
            <div class="card-body">
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true" style="color:red"></i>
                    @Model.Address, @Model.City,
                    @Model.District (dist) - @Model.Pincode
                </p>
                <p class="card-text">
                    @*<text>Contact Preference: </text>*@
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="tel:@Model.PhoneNo">@Model.PhoneNo</a>
                </p>
                <p class="card-text">
                    @*<text>Contact Preference: </text>*@
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:@Model.EmailId">@Model.EmailId</a>
                </p>
            </div>
        </div>
    </div>
</div>
@if (Model.Doctors.Any())
{
    <div class="card col-md-5">
        <div class="card-body tab-content" id="myTabContent">
            <p class="card-text">
                No. of Doctors Registered in this website: @Html.DisplayFor(model => model.Doctors.Count)
            </p>
            <ul>
                @foreach (var doctor in Model.Doctors)
                {
                    <li>
                        <a asp-controller="Doctors" asp-action="Details" asp-route-id="@doctor.ID">@doctor.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<br />
@if (!Model.IsVerified)
{
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model, Operations.Approve)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.ID" />
            <input type="hidden" name="status" value=true />
            <button type="submit" class="btn btn-xs btn-success">Approve</button>
        </form>
    }

    @if ((await AuthorizationService.AuthorizeAsync(
User, Model, Operations.Reject)).Succeeded)
    {
        <button class="btn btn-danger" data-toggle="modal" data-target="#RejectModal">Reject</button>

        @*<form style="display:inline;" method="post">
                <input type="hidden" name="id" value="@Model.ID" />
                <input type="hidden" name="status" value=false />
                <button type="submit" class="btn btn-xs btn-danger">Reject</button>
            </form>*@
        <!-- Modal -->
        <div class="modal fade" id="RejectModal" tabindex="-1" role="dialog" aria-labelledby="RejectModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Reject Reason</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form style="display:inline;" method="post" id="rejectForm">
                            <input type="hidden" name="id" value="@Model.ID" />
                            <input type="hidden" name="status" value=false />
                            <div class="form-group">
                                <label class="col-form-label">Reason:</label>
                                <textarea class="form-control" name="rejectReason" required></textarea>
                            </div>
                            @*<button type="submit" class="btn btn-xs btn-danger">Reject</button>*@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-xs btn-danger" form="rejectForm">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<br />
<hr />
<div class="btn-block" id="divBtnBlock">
    @if ((await AuthorizationService.AuthorizeAsync(User, Model, Operations.Update)).Succeeded)
    {
        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.ID">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a> <text> | </text>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Model, Operations.Delete)).Succeeded)
    {
        <a class="btn btn-danger m-1 rounded" asp-action="Delete" asp-route-id="@Model.ID">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    }
    <a asp-action="Index">Back to List</a>
</div>

