@model DrAvail.Models.Hospital

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            <a href="tel:@Model.PhoneNo">@Html.DisplayFor(model => model.PhoneNo)</a>
        </dd>
        <dt class="col-sm-3">
            No. of Doctors Registered:&nbsp;
        </dt>
        @if (Model.Doctors.Any())
        {
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Doctors.Count)
            </dd>
            @foreach (var doctor in Model.Doctors)
            {
                <dt class="col-sm-2">
                   Doctor Name: &nbsp;
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => doctor.Name)
                </dd>
            }
        }
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
