@model IEnumerable<DrAvail.Models.Hospital>

@{
    ViewData["Title"] = "Hospitals";
}


@if (Model.Any())
{
    <h4>Hospital</h4>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    @foreach (var item in Model)
    {
        <div class="card w-75 text-dark bg-light mb-3" style="border-radius:20px">
            <div class="row">

                <div class="col-md-3 p-md-0">
                    <img class="img-fluid p-0" style="border-bottom-left-radius:20px;border-top-left-radius:20px" src="/Images/logo.png" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="col-md-8">
                            <h5 class="card-title">
                                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                            </h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Type)</p>
                            <p class="card-text text-muted">
                                @Html.DisplayFor(modelItem => item.Address)
                            </p>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.District)
                            </p>
                            <br />
                            @if (item.Doctors.Any())
                            {
                                <p> Doctors(@item.Doctors.Count)</p>
                            }
                        </div>
                        <div>
                            <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h6 class="display-4">No Hospital/Clinic registered.</h6>
            Want to register your hospital/clinic? Please click
            <a asp-action="Create">here</a>.
        </div>
    </div>
}