@model IEnumerable<DrAvail.Models.Message>

@{
    ViewData["Title"] = "Messages";
    //Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h5>View Messages</h5>

<table class="table table-striped table-responsive bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateResponded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateResponded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Reply</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
