@model DrAvail.Services.PaginatedList<DrAvail.Models.Doctor>

@{
    ViewData["Title"] = "Doctors";
}

@if (Model.Any())
{

    <h4>Available Doctors</h4>

    if (User.IsInRole(Constants.AdministratorsRole))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    else
    {
        <p> </p>
    }

    <form asp-action="Index" method="get">
        <div class="form-actions no-color form-inline">
            <p>
                Find by name: <input class="form-control" style="width:35%" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-info" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    @foreach (var item in Model)
    {
        <div class="card text-dark bg-light mb-3" style="border-radius:20px;width:75%">
            <div class="row">
                @{
                    var user = UserManager.FindByIdAsync(item.OwnerID).Result;
                    if (user != null && user.ProfilePicture != null)
                    {
                        <img class="img-fluid col-sm-3 p-0" style="object-fit:cover;border-bottom-left-radius:20px;border-top-left-radius:20px" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))">
                    }
                    else
                    {
                        if ("Male".Equals(item.Gender.ToString()))
                        {
                            <img class="img-fluid col-sm-3 p-0" style="border-bottom-left-radius:20px;border-top-left-radius:20px;object-fit:cover" src="/Images/user.png" alt="...">
                        }
                        else
                        {
                            <img class="img-fluid col-sm-3 p-0" style="border-bottom-left-radius: 20px; border-top-left-radius: 20px" src="/Images/user-female.png" alt="...">
                        }
                    }
                }
                @*<div class="sample">*@
                <div class="card-body">
                    <div class="col-md-7 float-left">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        @*@if (item.IsVerified)
                            {
                                <span class="card-text text-success font-weight-bold">Verified</span>

                            }
                            else
                            {
                                <span class="card-text text-danger">Pending Verification</span>
                                <br />
                                <a asp-action="Contact" asp-controller="Home"
                                   title="Feel like taking long time? You can contact us from here"
                                   asp-route-subject="Pending Account Verification"
                                   asp-route-message="My acoount is still penidng verification. I feel like it is taking longer than usual.">Feel like taking long time?</a>


                            }*@
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Speciality)</p>
                        <p class="card-text text-muted">
                            @Html.DisplayFor(modelItem => item.Experience) years experience overall
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.District)
                            &nbsp;&bull;&nbsp;
                            <a asp-action="Details" asp-controller="Hospitals" asp-route-id="@item.HospitalID">@Html.DisplayFor(modelItem => item.Hospital.Name)</a>
                        </p>
                    </div>
                    <div class="col-md-2 d-flex flex-column btn-toolbar align-items-center">
                        <div class="btn-group-vertical" role="group" aria-label="action button group">
                            @if ((await AuthorizationService.AuthorizeAsync(User, item, Operations.Update)).Succeeded)
                            {
                                <a class="btn btn-outline-danger m-1 rounded" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            }
                            <a class="btn btn-outline-info m-1 box-shadow" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    }


    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <a asp-action="Index"
       asp-route-pageIndex="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageIndex="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

}
else
{
    <div class="jumbotron jumbotron-fluid " style="background-color:transparent">
        <div class="container">
            <h6 class="display-4">No doctors available.</h6>
            Are you a doctor? Want to register? Please click
            <a asp-action="Create">here</a>.
        </div>
    </div>
}
